@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

tbody img {
  max-width: 50%;
}

.backgroundHeader {
  min-height: 28vh;
  background: linear-gradient(56deg, #00072f, transparent);
}
.backgroundMain {
  color: white;
  min-height: 80vh;
  background-image: url(../assets/backgroundMain.jpg);
}
.productos {
  background-color: #40474e87;
  min-height: 80vh;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  color: black;
}
.nivelar1 {
  padding-top: 26px;
}
.nivelar24 {
  padding-top: 53px;
}
.nivelar3 {
  padding-top: 78px;
}
.instrucciones {
  padding: 20px;
  text-align: center;
  color: white;
}
/* Footer */
.backgroundFooter {
  color: white;
  text-align: center;
  background-image: linear-gradient(294deg, #0037ba, #000319);
}
.backgroundFooter a {
  color: black;
}

.fa-github {
  padding: 5px 10px;
  font-size: 3rem;
  color: aliceblue;
}
.fa-github:hover {
  background-color: rgba(82, 88, 88, 0.466);
  transition: 0.3s;
}

.fa-linkedin {
  padding: 5px 10px;
  font-size: 3rem;
  color: aliceblue;
}
.fa-linkedin:hover {
  background-color: rgba(82, 88, 88, 0.466);
  transition: 0.3s;
}

.fa-chrome {
  padding: 5px 10px;
  font-size: 3rem;
  color: aliceblue;
}
.fa-chrome:hover {
  background-color: rgba(82, 88, 88, 0.466);
  transition: 0.3s;
}

.copyright {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

hr {
  border-top: 2px solid orange !important;
}
